.header {
    padding: 92px 50px 96px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.nav-list {
    justify-self: start;
    display: flex;
    gap: 32px;
    list-style-type: circle;
}

.nav-list-item {
    font-size: 18px;
    line-height: 100%;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.nav-list-active {
    text-decoration: none;
    list-style: none;
}

.logo {
    justify-self: center;
    width: 148px;
    height: 105px;

}

.logo-black-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contact-list {
    justify-self: end;
    width: 240px;
    list-style: none;
    font-size: 18px;
    line-height: 24.3px;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px 50px;
  background: url(../images/cover.jpg) center/cover no-repeat;
  color: #fff;
}

.cover-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover-title,
.description {
  position: relative;
  z-index: 2;
}

.cover-title {
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase;
    width: 100%;
    position: relative;
}

.letter-spacing {
    letter-spacing: 0px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
    
}

.description {
    margin-top: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description-text {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0px;
    word-spacing: 0.8em;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    width: 637px;
}

.description-button {
    height: 51px; /* без точной высоты не получается подобрать точный размер */
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 32px 11px 31px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    white-space: nowrap;
}

.lots {
    margin: 185px 24px 120px 24px;
}

.title-lots {
    padding: 0 0 27px 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    color: #000;
}

.cards-lots {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.cards-lots a{
    text-decoration: none;
}

.cards-lots li {
    list-style: none;
}

.card-item {
  position: relative;
  width: 334px;
  min-height: 596px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.title-card-item,
.card-item-text {
  position: relative;
  z-index: 2;
}


.card-item--movie {
    background-image: url(../images/card-lot-01.jpg);
}

.card-item--book {
    background-image: url(../images/card-lot-02.jpg);
}

.card-item--art {
    background-image: url(../images/card-lot-03.jpg);
}


.title-card-item {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
}

.card-item-text {
    font-size: 20px;
    line-height: 120%;
}

.card-more {
    display: inline-block;
    margin: 30px 0 0 40px;
    font-size: 20px;
    line-height: 100%;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.about {
    margin: 120px 24px 180px 24px;
    padding: 35px 0 0 47px;
    display: flex;
    gap: 72px;
}

.logo-column {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-white-image {
    width: 142px;
    height: 113px;
}

.about-column {
    margin-top: 110px;
    width: 693px;
}

.about-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}

.about-text {
    margin-top: 100px;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-text-margin {
    margin-right: 5px;
}

.footer {
    padding: 0 0 82px 0;
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
}

.contact-list-start {
    justify-self: start;
}

.nav-list-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.list-message {
    display: flex;
    gap: 48px;
    list-style: none;
}

.list-message-image {
    width: 48px;
    height: 48px;
}